<a href="https://colab.research.google.com/github/Farheen-Qazi/Data_Science_And_Structures/blob/main/20SW055.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
answer = 42  # You can replace this with any number you want to hide

guess = int(input("Enter your guess: "))

if guess == answer:
    print("Congratulations! Your guess is correct!")
elif guess < answer:
    print("Too low! Try a higher number.")
else:
    print("Too high! Try a lower number.")

Enter your guess: 23
Too low! Try a higher number.

In [14]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

for word in sentence:
    print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

In [23]:
for num in range(5, 31,5):
    print(num)

5
10
15
20
25
30

In [16]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

first_names = [name.split()[0].lower() for name in names]
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

In [17]:
# Assuming you have a list of names and scores like this
names_scores = [("Rick Sanchez", 70), ("Morty Smith", 35), ("Summer Smith", 82), ("Jerry Smith", 23), ("Beth Smith", 98)]

# List comprehension to filter names with scores >= 65
passed_names = [name for name, score in names_scores if score >= 65]

print(passed_names)

['John', 'Alice', 'Mary']

In [18]:
names = ["Barney", "Roben", "Ted", "Lily", "Marshell"]
heights = [72,68,72,66,76]

# Using zip to create the dictionary
cast = dict(zip(names, heights))

print(cast)

{'Alice': 165, 'Bob': 175, 'Charlie': 160, 'David': 180}

In [19]:
cast = ["Barney Stinson", "Ted Mosby", "Marshall Eriksen", "Robin Scherbatsky", "Lily Aldrin"]
heights = [72, 70, 74, 68, 66]

# Using enumerate and list comprehension to modify the cast list
cast_with_height = [f"{name} {height}" for name, height in zip(cast, heights)]

print(cast_with_height)

['Barney Stinson 72', 'Ted Mosby 70', 'Marshall Eriksen 74', 'Robin Scherbatsky 68', 'Lily Aldrin 66']